.listGroupItem {
  position: relative;
  display: block;
  padding: 10px;
  min-height: 55px;
  text-decoration: none;
  background-color: #f1ecfe;
  border: 1px solid #d8dbe0;
  margin-bottom: 10px;
  border-radius: 30px;
}
